﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="painel.aspx.cs" Inherits="CamPOC.painel" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="lblSituacao" runat="server"></asp:Label>
        </div>
        <div>
        <asp:Button ID="btnAtualizar" runat="server" OnClick="btnAtualizar_Click" Text="Atualizar" />
            <br />
            </div>
    </form>
</body>
</html>
